* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  :root {
    --DarkCyan: hsl(185, 75%, 39%);
    --desaturatedBlue: hsl(229, 23%, 23%);
    --grayishBlue: hsl(227, 10%, 46%);
    --lightGray: hsl(0, 0%, 59%);
  }
  
  body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    background-color: var(--DarkCyan);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .header img {
    position: absolute;
    width: 700px; /* daha büyük yaparak sadece bir kısmını gösteriyoruz */
    z-index: 0;
  }
  
  .header .t {
    top: -300px;
    left: -300px;
  }
  
  .header .b {
    bottom: -300px;
    right: -300px;
  }
  
  .card {
    position: relative;
    background-color: white;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .head img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .layout {
    background-color: white;
    padding-bottom: 20px;
  }
  
  .layout .profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -50px;
  }
  
  .down .p-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .down .p-1 h3 {
    font-size: 18px;
    color: var(--desaturatedBlue);
  }
  
  .down .p-1 span {
    font-size: 18px;
    color: var(--lightGray);
  }
  
  .down .p-2 {
    margin-top: 10px;
    color: var(--grayishBlue);
    border-bottom: 1px solid var(--lightGray);
    padding-bottom: 20px;
    font-size: 16px;
  }
  
  .down .foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
  }
  
  .foot div h1 {
    font-size: 18px;
    color: var(--desaturatedBlue);
  }
  
  .foot div span {
    font-size: 12px;
    color: var(--grayishBlue);
  }
  